<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>RailwayTicketBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AdminData</display-name>
    <servlet-name>AdminData</servlet-name>
    <servlet-class>com.ibm.AdminData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminData</servlet-name>
    <url-pattern>/AdminData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminData1</display-name>
    <servlet-name>AdminData1</servlet-name>
    <servlet-class>com.ibm.AdminData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminData1</servlet-name>
    <url-pattern>/AdminData1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminInfo</display-name>
    <servlet-name>AdminInfo</servlet-name>
    <servlet-class>com.ibm.AdminInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminInfo</servlet-name>
    <url-pattern>/AdminInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserData</display-name>
    <servlet-name>UserData</servlet-name>
    <servlet-class>com.ibm.UserData</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData</servlet-name>
    <url-pattern>/UserData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserData1</display-name>
    <servlet-name>UserData1</servlet-name>
    <servlet-class>com.ibm.UserData1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserData1</servlet-name>
    <url-pattern>/UserData1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin</display-name>
    <servlet-name>Admin</servlet-name>
    <servlet-class>com.ibm.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin</servlet-name>
    <url-pattern>/Admin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin1</display-name>
    <servlet-name>Admin1</servlet-name>
    <servlet-class>com.ibm.Admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin1</servlet-name>
    <url-pattern>/Admin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogin</display-name>
    <servlet-name>AdminLogin</servlet-name>
    <servlet-class>com.ibm.AdminLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogin</servlet-name>
    <url-pattern>/AdminLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddTrainServelet</display-name>
    <servlet-name>AddTrainServelet</servlet-name>
    <servlet-class>com.ibm.AddTrainServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTrainServelet</servlet-name>
    <url-pattern>/AddTrainServelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateSecrvelet</display-name>
    <servlet-name>UpdateSecrvelet</servlet-name>
    <servlet-class>com.ibm.UpdateSecrvelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateSecrvelet</servlet-name>
    <url-pattern>/UpdateSecrvelet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteTrain</display-name>
    <servlet-name>DeleteTrain</servlet-name>
    <servlet-class>com.ibm.DeleteTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteTrain</servlet-name>
    <url-pattern>/DeleteTrain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateTrain</display-name>
    <servlet-name>UpdateTrain</servlet-name>
    <servlet-class>com.ibm.UpdateTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateTrain</servlet-name>
    <url-pattern>/UpdateTrain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTrain</display-name>
    <servlet-name>ShowTrain</servlet-name>
    <servlet-class>com.ibm.ShowTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTrain</servlet-name>
    <url-pattern>/ShowTrain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin</display-name>
    <servlet-name>UserLogin</servlet-name>
    <servlet-class>com.ibm.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin</servlet-name>
    <url-pattern>/UserLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogin1</display-name>
    <servlet-name>UserLogin1</servlet-name>
    <servlet-class>com.ibm.UserLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogin1</servlet-name>
    <url-pattern>/UserLogin1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterTrain</display-name>
    <servlet-name>RegisterTrain</servlet-name>
    <servlet-class>com.ibm.RegisterTrain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterTrain</servlet-name>
    <url-pattern>/RegisterTrain</url-pattern>
  </servlet-mapping>
</web-app>